body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board {
  border: 2px solid #000;
}

.status {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: italic;
}

.square {
  background: #fff;
  border: 2px solid #000;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.highlight {
  background-color: #f00;
}

.square:focus {
  outline: none;
}

.bg-col1 {
  background-color: rgb(205, 235, 255);
}

.bg-col2 {
  background-color: rgb(205, 215, 255);
}

.bg-col3 {
  background-color: rgb(205, 195, 255);
}

.bg-col4 {
  background-color: rgb(205, 155, 255);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-board-inner {
  display: flex;
  flex-direction: row;
}

.clear:after {
  display: block;
  content: "";
}

.game-info {
  margin-bottom: 20px;
  clear: both;
  font-size: 24px;
  font-weight: bold;
  max-width: 720px;
}

.new-game-btn {
  background: #fff;
  border: 2px solid #000;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 4;
  text-align: center;
  border-radius: 4px;
}

.new-game-btn:hover {
  background: rgb(205, 155, 255);
}

.pre-board {
  border: 2px solid #000;
  clear: both;
  display: table;
  margin-bottom: 24px;
}

.explanation{
  font-size: 18px;
  font-weight: normal;
}
